body 
{
    font-family: 'Raleway', sans-serif;
    margin: 0;                        
}

header
{
    margin-right: 2.5rem;
}
ul
{
    list-style-type: none;
}
nav
{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-left: 2rem;
    grid-template-areas:
    "logo . x y z"
}
nav .nav_title1, nav .nav_title2, nav .nav_title3
{
    display: flex;
    justify-content: center;
    align-items: center;    
    text-decoration: none;
    list-style-type: none;
    padding: 1.625rem;
}
.logo
{
    grid-area: logo;
    margin-top: 1.5rem;
    margin-left: 0.5rem;
}
.nav_title1
{
    color: #0065FC;
    grid-area: x;
    border-top: #0065FC 3px solid;
    padding-top: 2.25rem;
    font-weight: 500;
}
.nav_title2 
{
    color: black;
    grid-area: y;
    font-weight: 500;
}
.nav_title3
{
    color: #0065FC;
    font-weight: bold;
    grid-area: z;
}

#blocpage
{
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}
main div h1
{
    font-size: 1.5rem;
}
.first_title
{
    line-height: 1.25rem;
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
}
h2 , h3
{
    display: inline-flex;
    font-weight: bold; 
    align-items: center;                                      
}
#map
{
    background-color: #f2f2f2;                             
    padding: 0.75rem 1.25rem 0.75rem 1.25rem;
    border-radius: 1rem 0 0 1rem;
}                                                            
.search
{
    display: inline-flex;
    margin-bottom: 1rem;
}
.search input
{
    font-weight: bold;
    padding: 1rem;
    border-left: #F2F2F2;
    border-right: #F2F2F2;
    border-top: solid 1px #F2F2F2;
    border-bottom: solid 1px #F2F2F2;
}
button
{
    background-color: #0065FC;
    color: white;
    font-size: 1.25rem;
    border-radius: 0 1rem 1rem 0;
    border:none;
    padding: 0 1.25rem;
}
.responsive_icon
{
    display: none;
}
section
{
    margin-top: 1.625rem;
}
section a
{
    text-decoration: none; 
    color: black;
}
.fas
{
    color: #0065FC;
}
.fa-map-marker-alt 
{
    color: black;
    font-size: 115%;
    padding-top: 0.25rem;
}
.filters h3
{
    font-size: 1.25rem;
}
.lists_filters
{
    display: inline-flex;      
    align-items: center;
    flex-wrap: wrap; 
}
.hover:hover
{
    background-color: rgba(35, 84, 245, 0.74) ;
}
.filters ul li                                      
{
    font-weight: bold;
    margin-right: 1.75rem;
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    padding-right: 1.35rem;
}
.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog
{
    margin-right: 0.625rem;
    margin-left: -2.5px;
    border: solid 1px #d9d9d9;
    background-color: #DEEBFF;
    border-radius: 100%;
    padding: 1rem;
}
#infob
{
    display: flex;
    align-items: center;
}
.fa-info
{
    margin-right: 0.625rem;
    border: solid 1px #d9d9d9;
    border-radius: 100%;
    padding: 0.375rem 0.625rem 0.375rem 0.625rem;
    font-size: 1rem;
}
.stars
{
    display: inline-flex;
    font-size: 90%;
    margin-left: 0.75rem;
}
.grey_star
{
    color: #d9d9d9;
}
#grid                                                      
{
    display: grid;
    grid-template-columns: 6fr 3fr;
    grid-column-gap: 3.125rem;                                 
}
section img
{
    height: 6.25rem; 
    object-fit: cover; /*qualité image */
}

.content1
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1.625rem 1fr 1fr 1rem;
    column-gap: 2rem;
    row-gap: 2rem;
    padding: 3.2rem;
    background-color: #F2F2F2;
    border-radius: 1.5rem;
    margin: auto;
    width: 90%;
    grid-template-areas: 
    "a a a"
    "b c d"
    "e f g"
    "h h h"
}
.Accomodation
{
    grid-area: a;
    grid-column: 1 /span 3;
    flex-wrap: nowrap;
    margin: 0%;
}
.item1
{
    grid-area: b;
}   
.item2
{
    grid-area: c;
}
.item3
{
    grid-area: d;
}
.item4
{
    grid-area: e;
}
.item5
{
    grid-area: f;
}
.item6
{
    grid-area: g;  
}
.item1, .item2, .item3, .item4, .item5, .item6
{
    box-shadow: 0 0 1rem #0000002e;
    background-color: white;
    border-radius: 1rem;
    padding: 0.375rem;
}
#show_more
{
    grid-area: h;
    margin: 0%;
    font-weight: bold;
}
.content1 img
{
    border-radius: 1rem 1rem 0 0;
    max-width: 100%;
    width: 100%;
}
.legend
{
    font-size: 90%;
}
.content1 h3
{
    margin: 0.33rem 0.75rem 0.25rem 0.75rem;
}
.nightly_price
{
    margin: 0.33rem 0.75rem 0.25rem 0.75rem;
}
.hotel_name
{
    display: block;
    line-height: 1rem; 
}
aside
{
    grid-column: 2;
}
.chart
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    line-height: 0.375rem;
}
.fa-chart-line
{
    color: black;
    padding-right: 3.125rem;
    font-size: 150%;
}
aside
{
    background-color: #F2F2F2;                       
    border-radius: 1.5rem;
}

.content2
{
    padding: 0.5rem;
    padding-left: 2.5rem;
    padding-bottom: 1rem;
}
.item7, .item8, .item9
{
    display: inline-flex;
    box-shadow: 0 0 1rem #0000002e;
    background-color: white;
    border-radius: 1rem;
    margin-top: 1.25rem;
    width: 90%;
}
.content2 img
{
    border-radius: 1rem 0 0 1rem;
}
.hotel_name2
{
    margin-left: 0.625rem;
    margin-bottom: 0.375rem;
}
.hotel_name3
{
    margin-left: 0.625rem;
}
.nightly_price2
{
    margin: 0rem 0rem 3.3rem 0.625rem;
}
.nightly_price3
{
    margin: -0.75rem 0rem 2rem 0.625rem;   
}
.legend2_3
{
    width: 300px;
}
.legend2_1, .legend2_2, .legend2_3
{
    font-size: 90%;
}
.item7 img, .item8 img, .item9 img
{
    padding: 0.375rem;
    width: 35%;
    height: 8.5rem;
}
.item9 img
{
    width: 48%;
}
.stars2
{
    display: inline-flex;
    font-size: 80%;
    margin-left: 0.625rem;
}

.content3
{
    display: grid;                                    
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 3fr 0.3fr 0.3fr 0.3fr 0.3fr 3fr;            
    column-gap: 2.5rem;
    row-gap: 2.5rem;
    height: 31.25rem;
    grid-template-areas: 
    "l o q r"
    "l o q r"
    "l o q r"
    "l o q s"
    "l p q s"
    "l p q s"
}
.Activities
{
    margin-bottom: 1rem;
    margin-top: 2.5rem;
}
.content3 img
{
    border-radius: 1rem 1rem 0 0;                      
}
.content3 h3
{
    margin-left: 1.25rem;  
    margin-top: 1rem;
}
.child1
{                                            
    grid-area: l;
}
.child1 img
{
    width: 100%;
    height: 100%;
}                                  
.child4
{
    grid-area: q;
}
.child4 img
{
    width: 100%;
    height: 100%;
}  
.child2
{
    grid-area: o;
}
.child2 img
{
    height: 14.375rem;
}
.child3
{
    grid-area: p;
}
.child3 img
{
    height: 8rem;
}
.child5
{
    grid-area: r;
}
.child6
{
    grid-area: s;
}
.child5 img, .child6 img
{
    height: 11.25rem;
}
.child1, .child2, .child3, .child4, .child5, .child6
{
    box-shadow: 0 0 1.25rem #0000002e;         
    border-radius: 1rem;
    height: 100%;
}
.child2 img, .child3 img, .child5 img, .child6 img     
{
    width: 100%;
}
.pic1, .pic4
{
    height: 90%;
}
.legend3
{
    height: 100%;
    margin: 0;
}
.child2 h3, .child3 h3, .child5 h3, .child6 h3
{
    margin-top: 0.625rem;
}
footer
{
    margin-top: 3.125rem;
}
footer h3
{
    display: flex;
    justify-content: space-between;
    margin-left: 2.5rem;
}
.content_footer li a
{
    text-decoration: none; 
    line-height: 2;       
    color: black;
}
.content_footer li a, footer h3
{
    position: relative;
    bottom: 1.5rem;
}
.content_footer
{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-column-gap: 14rem;
    display: flex; 
    background-color: #f2f2f2;
    padding-top: 3.75rem;
    position: absolute;
    right: 0;
    left: 0;
}


/* Media Queries */


@media screen and (max-width: 1440px) {
    